@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300&family=Bebas+Neue&family=Exo:wght@600&display=swap');

/* 
font-family: 'Barlow', sans-serif; ----> General text
font-family: 'Bebas Neue', cursive; ----> Titles
font-family: 'Exo', sans-serif; -----> Slider
*/

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}


/* 
***************************************************
***************************************************
Navbar
***************************************************
***************************************************
*/


/* Centering inner elements */

.navbar {
    padding: 0;
    font-size: 1.3rem;
}

#noukooNavbar,
.navbar-nav {
    height: 93px;
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    color: rgb(160, 160, 160)!important;
    margin: 30px 30px!important;
}

.nav-link.active,
.nav-link:hover {
    color: rgb(240, 240, 240)!important;
}

.nav-item.active {
    border-bottom: 2px solid rgb(240, 240, 240);
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.nav-link,
.nav-item {
    transition-property: border, color;
    transition: 400ms ease-in-out;
}


/* 
***************************************************
***************************************************
Carousel
***************************************************
***************************************************
*/

#noukooCarousel,
#noukooCarousel .carousel-item {
    height: 100vh;
}

#noukooCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}


/* Text inside the carousel */


/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.carousel-legend {
    position: absolute;
    top: 11rem;
    left: 12rem;
    width: 60%;
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    /* font-weight: 700; */
    text-transform: uppercase;
    line-height: .99em;
    letter-spacing: -.8px;
}

.carousel-legend span {
    color: #626369;
}

.scale-in-top {
    -webkit-animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* 
***************************************************
***************************************************
IMMO / COMMERCE
***************************************************
***************************************************
*/

#immo-commerce {
    margin: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#immo-commerce .category {
    border: 2px solid #27a5a5;
    border-radius: 2rem;
    padding: 10rem 8rem;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 8px;  */
    transition: all 2s;
}

#immo-commerce .category:hover {
    cursor: pointer;
    border-color: #153d8a;
    padding: 11rem 9rem;
    /* font-size: 3.5rem;
    font-weight: 700; */
}


/* 
***************************************************
***************************************************
360 Gallery
***************************************************
***************************************************
*/

#galleryCarousel,
#galleryCarousel .carousel-item {
    height: 50vh;
}

#galleryCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#galleryCarousel button {
    width: 30px;
}


/* 
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
Telephone
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
 */

@media screen and (max-width:600px) {
    /* 
     ***************************************************
     ***************************************************
     Navbar
     ***************************************************
     ***************************************************
     */
    #noukooNavbar,
    .navbar-nav {
        height: auto;
    }
    /* 
     ***************************************************
     ***************************************************
     Carousel
     ***************************************************
     ***************************************************
     */
    #noukooCarousel,
    #noukooCarousel .carousel-item {
        height: 50vh;
    }
    .carousel-legend {
        top: 8rem;
        left: 3rem;
        /* width: 50%; */
        font-size: 20px;
    }
    /* 
      ***************************************************
      ***************************************************
      IMMO / COMMERCE
      ***************************************************
      ***************************************************
      */
    #immo-commerce .category {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}