html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

/* 
***************************************************
***************************************************
Navbar
***************************************************
***************************************************
*/

/* Centering inner elements */
.navbar {
    padding: 0;
}

#noukooNavbar, .navbar-nav {
    height: 93px;
}

.navbar-nav {
    margin: auto;
}

.nav-item, .nav-link {
    transition-duration: 250ms;
    transition-property: border-bottom, color;
    transition-timing-function: ease-in-out;
}

.nav-item.active {
    border-bottom: 2px solid white;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.nav-link {
    /* padding: 0!important; */
    padding: 30px 30px!important;
}

/* Carousel */
#noukooCarousel, .carousel-item {
    height: 88vh;
}

#noukooCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* 
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
Telephone
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
 */

/* 
***************************************************
***************************************************
Navbar
***************************************************
***************************************************
*/

#navbarNoukoo, .navbar-nav {
    height: auto;
}