html {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: rgb(207, 204, 204);
    background-color: rgb(20, 20, 20);
}

/* 
***************************************************
***************************************************
Navbar
***************************************************
***************************************************
*/

/* Centering inner elements */
.navbar {
    padding: 0;
}

#noukooNavbar, .navbar-nav {
    height: 93px;
}

.navbar-nav {
    margin: auto;
}

.nav-item, .nav-link {
    transition-duration: 250ms;
    transition-property: border-bottom, color;
    transition-timing-function: ease-in-out;
}

.nav-item.active {
    border-bottom: 2px solid white;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.nav-link {
    /* padding: 0!important; */
    padding: 30px 30px!important;
}

/* 
***************************************************
***************************************************
Carousel
***************************************************
***************************************************
*/
#noukooCarousel, .carousel-item {
    height: 100vh;
}

#noukooCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Text inside the carousel */
/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

.carousel-legend {
    position: absolute;
    top: 7rem;
    left: 12rem;

    width: 50%;

    color: white;
    font-family: Sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .99em;
    letter-spacing: -.8px;
}

.carousel-legend span {
    color: gray;
}

.scale-in-top {
	-webkit-animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* 
***************************************************
***************************************************
IMMO / COMMERCE
***************************************************
***************************************************
*/
#immo-commerce {
    margin: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#immo-commerce .category {
    border: 2px solid #27a5a5;
    border-radius: 2rem;

    padding: 10rem 8rem;

    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 8px;  */

    transition: all 2s;
}

#immo-commerce .category:hover {
    cursor: pointer;

    border-color: #153d8a;

    padding: 11rem 9rem;

    /* font-size: 3.5rem;
    font-weight: 700; */
}

/* 
***************************************************
***************************************************
360 Gallery
***************************************************
***************************************************
*/
#galleryCarousel {
    height: 50vh;
}

#galleryCarousel img{
    /* object-fit: cover; */
}

/* 
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
Telephone
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
***************************************************
 */

 @media screen and (max-width:600px) {
     /* 
     ***************************************************
     ***************************************************
     Navbar
     ***************************************************
     ***************************************************
     */     
     #noukooNavbar, .navbar-nav {
         height: auto;
     }
     
     /* 
     ***************************************************
     ***************************************************
     Carousel
     ***************************************************
     ***************************************************
     */
     #noukooCarousel, .carousel-item {
         height: 90vh;
     } 

     .carousel-legend {
        top: 8rem;
        left: 5rem;
    
        width: 50%;
    
        font-size: 40px;
    }
}
