@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300&family=Bebas+Neue&family=Exo:wght@600&display=swap');
/* 
font-family: 'Barlow', sans-serif; ----> General text
font-family: 'Bebas Neue', cursive; ----> Titles
font-family: 'Exo', sans-serif; -----> Slider
*/

/* 
***************************************************
General
***************************************************
*/
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

section {
    margin: 2rem 8rem;
}

section div.title {
    align-self: flex-start;
    margin: 6rem 0rem 2rem 0;

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}

section div.title .line {
    margin-top: 0.5rem;
    width: 6rem;
    border-top: solid 4px #27a5a5;
}

/* 
***************************************************
Navbar
***************************************************
*/
/* Centering inner elements */
.navbar {
    padding: 0;
    font-size: 1.3rem;
}

.navbar-nav {
    height: 70px;
    margin: auto;
}

.nav-link {
    color: rgb(160, 160, 160)!important;
    margin: 10px!important;
}

.nav-link, .nav-item {
    transition-property: border, color;
    transition: 400ms ease-in-out;
}

.nav-item.active {
    border-bottom: 2px solid rgb(240, 240, 240);
}    

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(240, 240, 240);
}    

.nav-link.active,
.nav-link:hover {
    color: rgb(240, 240, 240)!important;
}    

/* 
***************************************************
Carousel
***************************************************
*/
#noukooCarousel {
    margin-top: 70px;
}

#noukooCarousel,
#noukooCarousel .carousel-item {
    height: 80vh;
}

#noukooCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}


/* Text inside the carousel */
.carousel-legend {
    position: absolute;
    top: 13rem;
    left: 12rem;
    width: 40%;
    font-family: 'Exo', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    line-height: .99em;
    letter-spacing: -.8px;
}

.carousel-legend span {
    color: #626369;
}

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */

 @-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.scale-in-top {
    -webkit-animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* 
***************************************************
IMMO / COMMERCE
***************************************************
*/
#immo-commerce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#immo-commerce div.title {
    margin-top: 0;
}

#immo-commerce-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#immo-commerce .category {
    border: 2px solid #27a5a5;
    border-radius: 2rem;
    padding: 10rem 8rem;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 2s;
}

#immo-commerce .category a {
    text-decoration: none;
    color: inherit;
}

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */

 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

#immo-commerce .category:hover {
    cursor: pointer;
    background-color: #27a5a575;
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* 
***************************************************
360 Gallery
***************************************************
*/
#gallery-360 #gallery-wrapper {
    height: 80vh;
    width: 100%;

    position: relative;
}

#gallery-wrapper iframe {
    height: 100%;
    width: 100%;
}

#gallery-wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 2rem;

    background-color: black;
}

/* 
***************************************************
Why
***************************************************
*/
#why .text {
    margin: 2rem 15rem;
    font-size: 1.8rem;
    text-align: justify;
}

/* 
***************************************************
Specialities
***************************************************
*/
#specialities-container, #how-it-works-container{
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

.speciality-item, .how-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specialities-container .speciality-legend, .how-title {
    margin-top: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}

/* 
***************************************************
How it works
***************************************************
*/

/* See previous section */

.how-description {
    font-size: 1.2rem;
}

/* 
***************************************************
***************************************************
Telephone
***************************************************
***************************************************
*/
@media screen and (max-width:768px) {
    section {
        margin: 1rem auto;
    }
    
    section div.title {
        margin: 2rem 1rem;    
        font-size: 0.5rem;
    }
    
    section div.title .line {
        width: 6rem;
        border: solid 2px #27a5a5;
    }

    /* 
     ***************************************************
     Navbar
     ***************************************************
     */
    #noukooNavbar,
    .navbar-nav {
        height: auto;
    }

    /* 
     ***************************************************
     Carousel
     ***************************************************
     */
    #noukooCarousel,
    #noukooCarousel .carousel-item {
        height: 32vh;
    }

    .carousel-legend {
        top: 2rem;
        left: 3rem;
        font-size: 20px;
    }

    /* 
    ***************************************************
    IMMO / COMMERCE
    ***************************************************
    */
    #immo-commerce .category {
        padding: 2rem 1rem;
        font-size: 1rem;
        border-radius: 1rem;
        width: 40vw;
        text-align: center;
    }

    /* 
    ***************************************************
    360 Gallery
    ***************************************************
    */
    #gallery-360 #gallery-wrapper {
        height: 50vh;
    }

    #gallery-wrapper div {
        height: 2.5rem;
        border: 2px solid black;
    }

    /* 
    ***************************************************
    Why
    ***************************************************
    */
    #why .text {
        margin: 2rem 1rem;
        font-size: 1rem;
    }

    /* 
    ***************************************************
    Specialities
    ***************************************************
    */
    #specialities-container, #how-it-works-container {
        flex-direction: column;        
    }

    .speciality-item, .how-item {
        margin: 1rem auto;
    }

    .how-description {
        margin: auto 1rem;
    }
}